[submodule "w32api"]
	path = w32api
	url = git://github.com/jkoan/cegcc-w32api.git
[submodule "binutils"]
	path = binutils
	url = git://github.com/jkoan/cegcc-binutils.git
[submodule "gcc"]
	path = gcc
	url = git://github.com/jkoan/cegcc-gcc.git
[submodule "mingw"]
	path = mingw
	url = git://github.com/jkoan/cegcc-mingw.git
[submodule "mingwdll"]
	path = mingwdll
	url = git://github.com/jkoan/cegcc-mingwdll.git
